root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
# default to 4 for compat with other tools but override with 2 for most file types
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

[*.svg]
insert_final_newline = false
max_line_length = 999999999

[*.cs]
indent_size = 2
charset = utf-8-bom # Visual Studio does not like UTF-8 without BOM

[*.{md,toml,yml,js,json,ts,tsx,scss}]
indent_size = 2
