@use '../common';

.menu-controls {
    display: flex;
    flex-direction: column;
    transition: opacity .3s;
    color: var(--menuText1Normal);

    @at-root [class*="exit-active"] & {
        opacity: 0;
    }

    @at-root [class*="enter-active"] & {
        opacity: 1;
    }

    &-city-name, &-city-stats, &-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // Makes sense here + avoids a bug in cohtml's layout engine.
        align-items: flex-start;
    }

    &-names {
        display: flex;
        flex-direction: column;
        margin-bottom: 45rem;
        text-shadow: 0 2rem 10rem var(--panelColorDark);
        font-size: calc(30rem * var(--fontScale));

        &-city {
            font-size: calc(45rem * var(--fontScale));
            font-weight: normal;
        }
    }

    &-city-stats span {
        margin-right: 15rem;
        margin-bottom: 55rem;

        // Normally we would not have to use a hardcoded height here, but this
        // circumvents a cohtml layout bug where images have trouble stretching
        // to the height of this container (and that depended on the flex
        // configuration of the parents too, so this seems to be the most robust
        // way to deal with it).
        height: 40rem;
        display: flex;
        align-items: center;
        @include common.border-radius(var(--panelRadius));
        background-color: var(--menuPanel1);
        backdrop-filter: var(--menuBlur);
        padding: 0 12rem;

        // This circumvents a rare bug where a span element can collapse
        // in a random way, a bug in cohtml's layout engine.
        white-space: nowrap;

        img {
            width: 22rem;
            height: 100%;
            margin-right: 10rem;
            filter: drop-shadow(0 1rem .4rem var(--panelColorNormal));
        }
    }

    &-buttons {
        $vanilla-button-height: 56rem;

        pointer-events: auto;

        &-button {
            margin-top: 15rem;
            margin-right: 15rem;

            padding-left: 30rem !important;
            padding-right: 30rem !important;

            [class*="icon"] {
                width: 25rem;
                height: 25rem;
            }
        }

        &-button-circle {
            margin-top: 15rem;
            margin-right: 15rem;

            width: $vanilla-button-height;
            height: $vanilla-button-height;
            display: flex;
            justify-content: center;
            padding: 0 !important;

            [class*="label"] {
                display: none;
            }

            [class*="icon"] {
                margin: 0;
            }
        }
    }
}
