@use "../common";

// We reuse vanilla class .center-panel-layout and add this one in complement.
.screenshot-upload-panel-layout {
    // Put ourselves behind other game panels - our panel is persistent and
    // we're not that important.
    z-index: -1;

    align-items: center;
}

.screenshot-upload-panel {
    @include common.scale-in-ver-center;

    pointer-events: auto;
    position: relative;

    width: calc(var(--centerPanelWidth) / 1.5);

    display: flex;
    flex-direction: column;
    align-items: stretch;

    @include common.border-radius(20rem);
    overflow: hidden;
    box-shadow: 0 0 20rem rgba(0, 0, 0, 0.6);
    backdrop-filter: var(--panelBlur);

    &-header, &-content, &-footer {
        padding: 20rem 30rem;
    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: calc(35rem * var(--fontScale));

        &-close {
            padding: 10rem;

            [class*="icon"] {
                opacity: .8;
            }
        }
    }

    &-header, &-content {
        background-color: var(--menuFocusedColor);
        color: var(--menuText1Inverted);
    }

    &-image {
        @include common.fade-in;

        background-color: dimgray;
    }

    &-content p {
        margin-bottom: 8rem;
    }

    &-city-info {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(170, 170, 170);
        font-size: calc(20rem * var(--fontScale));

        span {
            margin-left: 20rem;
            align-items: center;

            &.screenshot-upload-panel-city-info-name {
                margin-left: 0;

                strong {
                    margin-right: 10rem;
                    font-size: calc(30rem * var(--fontScale));
                    font-weight: normal;
                }
            }

            img {
                width: 35rem;
                height: 100%;
                margin-right: 10rem;
                filter: drop-shadow(0 1rem .4rem var(--panelColorNormal));
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--panelColorDark);

        &-creator-id {
            color: var(--menuText1Normal);
            opacity: .5;
            text-transform: uppercase;
        }

        &-button {
            margin-left: 20rem;
            padding: 10rem 20rem;

            &.cancel {
                background-color: transparent;

                &:hover, &:active {
                    background-color: var(--menuFocusedColor);
                    color: var(--menuText1Inverted);
                }

                &:active {
                    background-color: var(--menuSelectedColor);
                }
            }

            &-icon {
                margin-right: 10rem;
            }
        }
    }
}
